#container{
  height: 15vh;
  width: 70%;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  background-color: aqua;
}
#input{
  width: 30%;
  height: 5vh;

}
#button{
  height: 6vh;
  width: 10%;
  padding: 10px 5px 5px 10px;
}
button:hover{
  background-color: brown;
}
#weatherBox{
  height: 30vh;
  width: 45%;
  border: 1px solid aqua;
  margin: 10px;
}